@font-face {
    font-family: "Cera-Pro-reg";
    src: url(../fonts/CeraPro-Regular.ttf);
    }
    @font-face {
       font-family: "Cera-Pro-bold";
       src: url(../fonts/CeraPro-Bold.ttf);
    }
    @font-face {
       font-family: "Cera-Pro-med";
       src: url(../fonts/CeraPro-Medium.ttf);
    }
    * {
       padding:0;
       margin:0;
       box-sizing:border-box;
       }
    header {
    display: inline-block;
    width: 1200px;
    height: 53px;
    margin-top: 30px;
    margin-left: 120px;
    border: 1px solid blue;
    }
    .logo {
    width: 150px;
    height: 34.3px;
    margin-top: 30px;
    margin-left: 120px;
    background: #46A358;
    }
    .text-logo {
    width: 110.03px;
    height: 12.82px;
    margin-top: 10.74px;
    margin-left: 39.98px;
    background: #46A358; 
    }
    .text-logo nav{ 
       margin-top: 8px;
       margin-left: 379px;
    }
    .home {
       display: inline-block;
       font-family: "Cera-Pro-reg";
       width: 700;
       size: 16px;
       line-height: 20.11px;
       margin-top: 8px;
       margin-right: 50px;
       color: black;
    } 
    .shop,
    .plant-cares,
    .blogs {
       display: inline-block;
       font-family:"Cera-Pro-reg" ;
       width: 400;
       size: 16px;
       line-height: 20.11px;
       margin-top: 8px;
       margin-right: 50px;
       color: black;
    }
    .label-btn {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding-left: 1100px;
    border: none;
    line-height: 18px;
    }
    .button img {
       vertical-align: bottom;
    }
    .hero-section {
    width: 1200px;
    height: 450px;
    background-color: lightgray;
    }
    .pole {
       display: inline-block;
       width: 50%;
    }
    .wrapper {
       display: inline-block;
       margin-top: 68px;
       margin-left: 43px;
       margin-right: 43px;
    }
    .text-area p {
    font-family: "Cera-Pro-med";
    font-size: 16px;
    font-weight: 500;
    color:#3D3D3D;
    }
    .text-area h1 {
       width: 530px;
       height: 140px;
       font-family: "Cera-Pro-med";
       font-size: 70px;
       font-weight: 900;
       color: #3D3D3D;
       line-height: 70px;
    }
    .text-devider span {
       width: 530px;
       height: 140px;
       font-family: "Cera-Pro-med";
       font-size: 70px;
       font-weight: 900;
       color: #46A358;
       line-height: 70px;
    }
    .text-label {
       font-family:"Cera-Pro-reg";
       font-weight: 400;
       font-size: 14px;
       color: #727272;
       line-height: 24px;
    }
    .text-button {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: green;
    border: 1px solid blue;
    }
    .button-area {
       font-family:"Cera-Pro-bold";
       font-size: 16px;
       font-weight: 700;
       color: #FFFFFF;
       line-height: 20px;
       margin-top: 11px;
       margin-left: 26px;
    }
    .img-1 {
       width: 507px;
       height: 450px;
       margin-left: 693px;
    }